*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator{
    margin: 0 auto;
    width: 20rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
}

input{
    width: 10rem;
    margin: 10px 20px;
    padding: 5px;
}

.btn{
    width: 45px;
    height: 40px;
    margin: 5px;
}